<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon name="log-out-outline" size="large" class="log"></ion-icon>
    <ion-title>
      Vitals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vitals</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-card *ngFor="let vital of vitals">
      <ion-button class="create">
        <ion-icon name="create-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="showConfirm(vital.id);" class="trash">
        <ion-icon name="trash-outline" size="large"></ion-icon>
      </ion-button>
    <ion-card-header><strong>{{vital.created_at | date: 'M/d/yy, h:mm a'}}</strong></ion-card-header>
    <hr>
    <ion-card-content>{{vital.systolic}}/{{vital.diastolic}} -bp</ion-card-content>
    <ion-card-content>{{vital.hr}} -hr</ion-card-content>
    <ion-card-content>{{vital.oxygen}} -oxygen</ion-card-content>
    <ion-card-content>{{vital.temp}}&#8457;</ion-card-content>
    <ion-card-content>{{vital.weight}} lbs -weight</ion-card-content>
 </ion-card>

</ion-content>
