ion-button.trash {
    margin-left: 88%;
}

ion-button.create {
    margin-left: 10px;
}

ion-icon {
    float: right;
    background: none;
}

.log {
    margin-right: 10px;
}

ion-title {
    margin-top: 5px;
}

ion-card {
    margin-top: 10px;
}

